<div class="dashboard-page">
    <div class="dashboard">
        <div class="dashboard-nav">
            <div class="dashboard-nav-left-box">
                <div class="dashboard-nav-left">
                    <div class="dashboard-nav-left-image">
                        <a href="dashboard"><img id="dashboard-fridge-icon" src="fridge-icon.png" alt="Fridge Icon"></a>
                    </div>
                    <div class="dashboard-nav-left-title">
                        <a class="dashboard-nav-title" href="dashboard"><p>Fridge</p></a>
                    </div>
                </div>
            </div>
            <div class="dashboard-nav-right-box">
                <ul class="dashboard-nav-right">
                    <div class="dashboard-nav-right-item"><a href="newBox">Create Box</a></div>
                    <div class="dashboard-nav-right-item"><a href="newReagent">Create Reagent</a></div>
                    <div class="dashboard-nav-right-item"><a href="newFridge">Create Fridge</a></div>
                    <div class="dashboard-nav-right-item"><a href="accountMan">Account</a></div>
                </ul>
            </div>
        </div>
        <div class="dashboard-page-body">
            <div class="profile-information">
                <div class="profile-information-text">
                    <p id="profile-title">Welcome</p>
                    <p class="profile-name"><%= name1 + " " + name2 %></p>
                </div>
                <div class="profile-name">
                
                </div>
            </div>
            <div class="dashboard-body">
                <div class="dashboard-form-container">
                    <h2>Search</h2>
                    <form action="/dashboard" method="POST">
                        <input class="search_input" name="nameSearch" type="text" placeholder="search by name">
                        <button id="submit" class="search-button">search</button>
                    </form>
                    <form action="/dashboard" method="POST" id="seq-search">
                        <input class="search_input" type="text" name="seqSearch" placeholder="search by sequence">
                        <button id="submit" class="search-button">search</button>
                    </form>
                </div>
                <div class="clear-dashboard-box">
                    <div class="line-box">
                        <hr class="line">
                    </div>
                    <div class="clear-dashboard-button-box">
                        <a id="clear-dashboard-button" href="dashboard">Clear Searches</a>    
                    </div>
                </div>
                <div class="dashboard-table">
                    <table id="dashboard_table">
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Sequence</th>
                            <th>Box</th>
                            <th>Fridge</th>
                        </tr>
                        <%
                        var i=1
                        userData.recordset.forEach(function(data){
                        %>
                        <tr>
                            <td><%=i; %></td>
                            <td><%=data.reagent_name %></td>
                            <td><%=data.reagent_date %></td>
                            <td><%=data.reagent_seq %></td>
                            <td><%=data.box_name %></td>
                            <td><%=data.fridge_name %></td>
                        </tr>
                        <%  i++; }) %>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</div>
